#footer {
  display: flex;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 21px;
  padding: 0;
  list-style: none;
}

.pagination-buttons button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  background-color: #f1e0d0;
  color: black;
}

.event-container p {
  color: black !important;
}

.events-container {
  list-style: none;
}

#filters-container button {
  color: black;
}

#filters-container p {
  font-weight: 390;
}

#eventsBG-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  transform: rotate(180deg);
  filter: saturation(0%);
}

@media (min-width: 1200px) {
  .event-card {
    display: flex;
    flex-direction: column;
    flex: 50%;
    align-items: flex-start;
    padding-right: 4%;
  }

  #filters-container button:hover {
    color: #ffc107;
    cursor: pointer;
  }

  .events-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 2%;
    grid-column-gap: 2%;
  }

  .responsiveness-hide {
    flex: 50%;
  }

  .event-image {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 12px;
  }

  .event-container {
    display: flex;
    margin-bottom: 2%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: rgb(21, 21, 21);
  }

  #main-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 2%;
  }

  #parent-container {
    width: 100%;
  }

  #filters-container {
    display: flex;
    flex-direction: column;
    width: 23%;
    padding: 2%;
    height: 60vh;
    border-left: solid;
    border-color: #9dc6bd;
    gap: 5%;
    align-items: flex-start;
    padding-left: 60px;
  }

  .filters-heading {
    font-family: "Bond Time";
    color: #9dc6bd;
  }

  .filter-option {
    border: none;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0) !important;
    text-underline-offset: 4px;
  }

  .filter-option:hover {
    transition: all 0.3s;
    color: #ffc107;
  }

  #search-bar {
    width: 100%;
    height: 4.5vh;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #e5d3c3;
    padding: 0 1em;
    margin-top: 2%;
    font-size: 1em;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  #event-name {
    text-align: left;
    font-size: 1.2em;
  }

  #event-date {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
  }

  .event-container {
    transition: transform 0.3s ease;
  }

  .event-container:hover {
    transform: scale(1.01);
  }

  .events-search-bar {
    position: relative;
    left: 6.9%;
    width: 65vw;
    height: 5vh;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #eventsBG-image {
    height: 100vw;
    width: 100vw;
    transform: rotate(90deg);
  }

  #filters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .event-container .responsiveness-hide {
    text-align: left;
  }

  .event-container {
    margin-bottom: 2%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: rgb(21, 21, 21);
  }

  .responsiveness-hide {
    display: none;
  }

  .event-card {
    display: block;
    margin-top: 40px;
  }

  .events-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 2%;
    gap: 2%;
  }

  .event-image {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 12px;
  }

  #filters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #main-container {
    display: block;
  }

  #parent-container {
    width: 100%;
  }

  #filters-container {
    width: 100%;
    margin-top: 6%;
    padding: 0;
  }

  .filter-option {
    border: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0) !important;
    text-underline-offset: 4px;
  }

  #search-bar {
    width: 100%;
    height: 4.5vh;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fffcf3;
    padding: 0 1em;
    font-size: 1em;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
  }

  #event-name {
    text-align: left;
    font-size: 1.2em;
  }

  #event-date {
    text-align: left;
  }

  .event-card {
    transition: transform 0.2s ease;
  }

  .event-card:hover {
    transform: scale(1.05);
  }

  .events-search-bar {
    position: relative;
    left: 6.9%;
    width: 65vw;
    height: 5vh;
  }

  .events-search-bar {
    width: 90vw;
    height: 5vh;
  }
}

@media (max-width: 767px) {
  #eventsBG-image {
    height: 140vh;
    width: 110vh;
    transform: rotate(90deg) translateX(-140px);
  }

  #main-container {
    display: block;
  }

  .event-card {
    display: block;
    margin-top: 40px;
  }

  .event-container {
    margin: 9%;
    padding: 0 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: rgb(21, 21, 21);
  }

  .event-image {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 12px;
  }

  .event-card h3 {
    padding: 0 0 0 22px;
    font-weight: 250;
    text-align: left;
  }

  .event-card p {
    text-align: left;
  }

  .view-event-button {
    display: none;
  }

  #search-bar {
    width: 90%;
    height: 4.5vh;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fffcf3;
    padding: 0 1em;
    font-size: 1em;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    margin-bottom: 5%;
  }

  #filters-container {
    width: 100%;
    padding: 0;
  }

  #filters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .filter-option {
    border: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0) !important;
    text-underline-offset: 4px;
  }

  .events-container {
    padding: 0;
    margin: 0;
  }

  .events-container p {
    margin: 2%;
  }
}
