#image-container {
  position: relative;
  float: left;
}

#return-button {
  position: absolute;
  right: 5.5%;
  top: 4%;
  border-radius: 0 24px 0 24px;
  background-color: #75757571;
  fill: #fffcf3;
  transition: all 0.5s ease;
}

#return-button:hover {
  fill: #ffc107;
}

#flex-display {
  display: flex;
  width: 40vw;
  flex-wrap: nowrap;
  padding-top: 0.2%;
  padding-bottom: 0.5%;
  border-bottom: solid #ffc107;
  border-width: 1px;
}

#favourite-icon.filled {
  fill: #ffc107;
}

#block-display {
  margin-top: 2%;
  margin-left: 2%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: rgb(21, 21, 21);
  margin-bottom: 4%;
}

#EventDetailsBG-Image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

@media (min-width: 1200px) {
  #flex-display p:not(:first-child) {
    border-left: 1px solid #757575;
    padding-left: 10px;
    margin-left: 10px;
  }

  #block-display {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  #event-image {
    aspect-ratio: 16/9;
    width: 37vw;
    margin: 2%;
    display: block;
    border-radius: 24px;
    margin-bottom: 2%;
  }

  .event-information {
    display: block;
    text-align: left;
    margin: 2%;
    width: auto;
  }

  #flex-display p {
    font-size: 1.05em;
    white-space: nowrap;
  }

  #event-description {
    border-bottom: solid #ffc107;
    padding-bottom: 0.5%;
    border-width: 1px;
  }

  #favourite-flex {
    display: flex;
    justify-content: space-between;
  }

  #favourite-icon {
    fill: #fffcf3;
    cursor: pointer;
    transition: fill 0.3s ease;
    margin-right: 12%;
  }

  #favourite-icon.filled:hover {
    fill: #ff9800;
  }

  #favourite-icon:hover {
    fill: #ffc107;
  }

  #flex-display {
    display: flex;
    width: 37vw;
    flex-wrap: nowrap;
    padding-top: 0.2%;
    padding-bottom: 0.5%;
    border-bottom: solid #ffc107;
    border-width: 1px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #event-image {
    aspect-ratio: 16/9;
    width: 44vw;
    margin: 2%;
    display: block;
    border-radius: 24px;
    margin-bottom: 2%;
  }

  #block-display {
    display: flex;
    flex-direction: column;
    width: 47vw;
  }

  .event-information {
    display: block;
    text-align: left;
    margin: 2%;
    width: 80%;
  }

  #flex-display {
    flex-direction: column;
    width: 37vw;
  }

  #flex-display p {
    font-size: 1.05em;
    white-space: nowrap;
  }

  #event-description {
    border-bottom: solid #ffc107;
    padding-bottom: 0.5%;
    border-width: 1px;
  }

  #favourite-flex {
    display: flex;
    justify-content: space-between;
  }

  #favourite-icon {
    fill: #fffcf3;
    cursor: pointer;
    transition: fill 0.3s ease;
    margin-right: 12%;
  }

  #flex-display p {
    padding-left: 1px;
    margin-left: 1px;
  }

  #favourite-icon.filled:hover {
    fill: #ff9800;
  }

  #favourite-icon:hover {
    fill: #ffc107;
  }

  #EventDetailsBG-Image {
    width: 100vw;
    height: 100vw;
    transform: rotate(-90deg);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

@media (max-width: 767px) {
  #event-image {
    aspect-ratio: 16/9;
    width: 86vw;
    margin: 2%;
    display: block;
    border-radius: 24px;
    margin-bottom: 2%;
  }

  #EventDetailsBG-Image {
    width: 202vw;
    height: 202vw;
    transform: rotate(-90deg);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .event-information {
    display: block;
    text-align: left;
    margin: 2%;
    width: 90%;
  }

  #flex-display {
    flex-direction: column;
  }

  #flex-display p {
    padding-left: 1px;
    margin-left: 1px;
  }

  #favourite-icon {
    fill: #fffcf3;
    transition: fill 0.3s ease;
    margin-right: 12%;
    margin-top: 2vh;
  }

  #block-display {
    display: flex;
    flex-direction: column;
    width: 91vw;
    margin-left: 4%;
  }
}
