.images {
  aspect-ratio: 16/9;
  border-radius: 15px;
}

#hero-section {
  font-family: "Dragonfly";
  font-size: 15vw;
}


#hero-section-2 {
  color: #ffc107;
}

#eventOTD-image {
  aspect-ratio: 16/9;
  width: 100%;
  display: block;
  border-radius: 15px;
  margin-top: 2%;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

@font-face {
  font-family: "Dragonfly";
  src: url("../assets/fonts/Dragonfly.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1200px) {
  #eventOTD-section {
    display: flex;
    text-align: left;
    margin-top: 4%;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
  }

  #eventOTD-section > div,
  #eventOTD-section > p {
    flex: 1;
  }

  #first-part {
    transition: transform 0.2s ease;
  }

  #first-part:hover {
    transform: scale(1.02);
  }

  main {
    width: 80%;
    margin: 0 auto;
  }

  #gallery .images {
    width: 70%;
  }

  #eventsCTA-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #eventsCTA-section div {
    display: block;
    text-align: left;
    padding-right: 12%;
  }

  #eventsCTA-image {
    aspect-ratio: 16/9;
    width: 40%;
    border-radius: 15px;
  }

  #cta-button {
    width: 300px;
    height: 35px;
    background-color: #fffcf3;
    border-radius: 23px;
    transition: all 0.4s;
  }

  #cta-button:hover {
    background-color: #ffc107;
  }

  #highlights-section {
    margin-top: 6%;
    display: block;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    width: 100%;
    padding: 0 7% 0 7%;
  }

  #gallery .images {
    width: 70%;
  }
  
  #eventsCTA-image {
    aspect-ratio: 16/9;
    width: 40%;
    border-radius: 15px;
  }

  
  #eventsCTA-section {
    display: flex;
    text-align: left;
    gap: 2%;
  }
  
  #eventOTD-section {
    text-align: left;
    gap: 0;
  }

  #cta-button {
    width: 300px;
    height: 35px;
    background-color: #fffcf3;
    border-radius: 23px;
  }
  
  #highlights-section {
    display: block;
    text-align: left;
  }

}

@media (max-width: 767px) {
  main {
    width: 100%;
    margin-top: 8vh;
  }

  #hero-section{
    margin-bottom: 5vh;
  }

  #eventOTD-section {
    padding: 0 7% 0 7%;
    text-align: left;
    gap: 0;
  }

  #eventOTD-section > div,
  #eventOTD-section > p {
    flex: 1;
    margin: 0;
  }

  #eventsCTA-section {
    padding: 0 7% 0 7%;
    display: block;
    text-align: left;
  }

  #cta-button {
    width: 300px;
    height: 35px;
    background-color: #fffcf3;
    border-radius: 23px;
  }

  #highlights-section {
    padding: 0 7% 0 7%;
    display: block;
    text-align: left;
  }

  #gallery .images {
    width: 70%;
  }
}
