.images {
  aspect-ratio: 16/9;
  border-radius: 15px;
}

#eventOTD-image {
  aspect-ratio: 16/9;
  width: 100%;
  display: block;
  border-radius: 15px;
  margin-top: 2%;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

#intro-section {
  display: block;
  text-align: left;
  width: 80%;
}

#closer-section {
  display: block;
  margin-bottom: 4%;
  text-align: left;
  width: 80%;
}

.newsletter-container {
  margin-left: 0;
  padding-bottom: 12%;
  text-align: left;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.newsletter-form input[type="email"] {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 4px;
  background-color:  #e5d3c3;
  border: 1px solid #ccc;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #ffffff00;
  color: #000000;
  border: solid;
  border-radius: 12px;
  border-width: 1px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.newsletter-form button:hover {
  background-color: #ffc107;
}

.success-message {
  color: #ffc107;
  font-weight: bold;
}

#hero-section {
  font-family: "Bond Time";
  font-size: 12vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  position: relative;
}

#animated-letter {
  display: inline-block;
  animation: wave-rotate 2s infinite ease-in-out;
  color: #ff7f00;
}

@keyframes wave-rotate {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(5deg) translateY(-5px);
  }
  50% {
    transform: rotate(-5deg) translateY(5px);
  }
  75% {
    transform: rotate(5deg) translateY(-5px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

.background-image {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.intro-section {
  display: block;
  text-align: left;
}

@media (min-width: 1200px) {
  .intro-section {
    width: 30%;
    margin: 2rem auto 3rem 0;
  }

  main {
    width: 80%;
    margin: 0 auto;
  }

  #eventOTD-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
  }

  #first-part {
    flex: 70%;
    margin-right: 20px;
    transition: all 0.5s ease;
    text-align: left;
  }

  #eventOTD-image {
    width: 100%;
    height: auto;
  }

  .eventOTD-text {
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    color: black;
  }

  #first-part:hover {
    transform: scale(1.02);
  }

  #gallery .images {
    aspect-ratio: 16/9;
    width: 90%;
  }

  #eventsCTA-section {
    width: 100%;
  }

  #eventsCTA-section div {
    display: block;
    text-align: left;
    padding-right: 1%;
  }

  #eventsCTA-image {
    aspect-ratio: 16/9;
    width: 40%;
    border-radius: 15px;
  }

  #cta-button {
    width: 300px;
    height: 35px;
    background-color: #f1e0d0;
    border-radius: 23px;
    transition: all 0.4s;
  }

  #cta-button:hover {
    background-color: #ffc107;
  }

  #highlights-section {
    margin-top: 6%;
    display: block;
    width: 60%;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    width: 100%;
    padding: 0 7% 0 7%;
  }

  .intro-section {
    width: 100%;
    margin: 22rem auto 0 0;
  }

  #gallery .images {
    width: 100%;
  }

  #eventsCTA-image {
    aspect-ratio: 16/9;
    width: 40%;
    border-radius: 15px;
  }

  #eventsCTA-section {
    display: flex;
    text-align: left;
    gap: 2%;
  }

  #eventOTD-section {
    text-align: left;
    gap: 0;
  }

  #cta-button {
    width: 300px;
    height: 35px;
    background-color: #f1e0d0;
    border-radius: 23px;
  }

  #highlights-section {
    display: block;
    text-align: left;
  }
}

@media (max-width: 767px) {
  main {
    width: 100%;
    margin-top: 8vh;
  }

  .intro-section {
    width: 90%;
    margin: 12rem auto 0 auto;
  }

  #hero-section {
    margin-bottom: 5vh;
  }

  #eventOTD-section {
    padding: 0 7% 0 7%;
    text-align: left;
    gap: 0;
  }

  #eventOTD-section > div,
  #eventOTD-section > p {
    flex: 1;
    margin: 0;
  }

  #eventsCTA-section {
    padding: 0 2% 0 2%;
    display: block;
    text-align: left;
    margin: 6%;
  }

  #cta-button {
    width: 100%;
    height: 35px;
    background-color: #f1e0d0;
    border-radius: 23px;
    color: black;
  }

  #highlights-section {
    padding: 0 7% 0 7%;
    display: block;
    text-align: left;
  }

  #gallery .images {
    width: 100%;
  }

  #closer-section {
    display: block;
    text-align: left;
    padding-left: 6%;
  }

  .newsletter-container {
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 12%;
    text-align: left;
  }
}

@media (max-width: 447px) {
  main {
    width: 100%;
    margin-top: 8vh;
  }

  .intro-section {
    width: 90%;
    margin: 2rem auto;
  }
}
